body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

#screen {
    border-radius: 20px;
    border-color: aqua;
    border-style: solid;
    height: 50px;
    width: 400px;
    display: flex;
    align-items: center;
}

.row1 button, .row2 button, .row3 button {
    width: 80px;
    border-width: 0;
}

.row4 button {
    width: 130px;
    border-width: 0;
}